.page-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(19deg, var(--color-1), var(--color-2));
        transform-origin: 0px 0px;
        transform: skewY(-10deg);
        overflow: hidden;
        z-index: 0;
    }
}

.painel {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 80vh;
    min-height: 100px;
    width: 100%;
    background: transparent;



    .logo {
        display: flex;
        flex-direction: column;
        width: 500px;
        left: 30%;
        padding: 0;
        height: 60%;
        z-index: 2;
        justify-content: flex-end;
        align-items: center;

        img {
            width: 550px;
            height: 350px;
            object-fit: fill;
        }
    }

    .search-bar {
        border: none;
        outline: none;
        background: none;
        border-bottom: 1px solid black;
        min-width: 300px;
    }

    .btn-pesquisa {
        border: none;
        background: none;
        scale: 1.2;
    }


    .login-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
        width: 100%;
        height: 40%;

        .texto {
            font-family: 'Nova Mono', monospace;
            z-index: 2;
            color: white;
        }
    }
}

.menu-button {
    display: none;
}


.navegacao {
    width: 100%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .rotas {
        height: 50%;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        font-size: var(--font-titulo);
        gap: 10px;
        padding-bottom: 10px;

        .rota {
            color: black;
            display: flex;
            -webkit-transform: skew(-20deg);
            -moz-transform: skew(-20deg);
            -o-transform: skew(-20deg);
            align-items: center;
            justify-content: center;
            text-decoration: none;
            margin-left: 20px;
            font-family: 'Nova Mono', monospace;
            font-weight: 500;
            width: 250px;
            height: 50px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
            border: 2px solid #FFB7C5;
            transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, border 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: #FFB7C5;
                border-color: #f2768f;
            }


        }


    }

    .routeActive {
        color: blue
    }

    .botao-login {
        margin-left: auto;
        width: 100px;
        height: 50px;
        -webkit-transform: skew(-20deg);
        -moz-transform: skew(-20deg);
        -o-transform: skew(-20deg);
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
        background: none;
        border: 2px solid var(--color-1);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
        font-weight: 400;
        transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, border 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            background: linear-gradient(to bottom, #7b68ee, #1e90ff);
            border-color: var(--color-1);
        }

    }

}

@media only screen and (max-width: 750px) {

    .login-2 {
        display: none !important;
    }



    .navegacao {
        height: 70%;
    }

    .rotas {
        height: 100%;

        div{
            display: flex;
            justify-content: center !important;
            align-items: center;
           
        }
       
    }

    .botao-login{
        margin-left: 0px !important;
    }
}