<div class="footer">
    <div class="box footer1"><img src="./images/logo.svg" alt=""></div>
    <div class="box footer2">
      <h6 class="white">Conteudo</h6>
      <a href="/">Eventos</a><a href="eventos/semanais">Eventos na semana</a>
    </div>
    <div class="box footer4">
      <h6 class="white">Empresa</h6>
      <a>Sobre</a><a>Nosso time</a><a>Contato</a>
    </div>
    <div class="box footer5">
      <div><a href="https://www.facebook.com"><img src="../../../assets/images/icon-facebook.svg" alt=""></a></div>
      <div><a href="https://www.pinterest.com"><img src="../../../assets/images/icon-pinterest.svg" alt=""></a></div>
      <div><a href="https://www.instagram.com"><img src="../../../assets/images/icon-instagram.svg" alt=""></a></div>
    </div>
  </div>
